<header class="bg-white shadow-sm z-10">
  <div class="flex justify-between items-center px-4 py-3">
    
    <div class="relative" *ngIf="currentTenant$ | async as tenant">
      <button
        (click)="toggleTenantDropdown()"
        class="flex items-center text-gray-700 hover:text-gray-900 focus:outline-none"
      >
        <span class="font-medium">{{ tenant.name }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewBox="0 0 20 20" fill="currentColor">
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

      <div
        *ngIf="isTenantDropdownOpen"
        class="absolute left-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-20"
      >
        <div class="py-1" role="menu" aria-orientation="vertical">
          <button
            *ngFor="let t of tenants$ | async" 
            (click)="changeTenant(t.id)"
            class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
            [class.bg-gray-100]="tenant.id === t.id"
            role="menuitem"
          >
            {{ t.name }}
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="user$ | async as user">
      <div class="relative">
        <button
          (click)="toggleDropdown()"
          class="flex items-center text-gray-700 hover:text-gray-900 focus:outline-none"
        >
          <img
            *ngIf="user.image"
            [src]="user.image"
            alt="User avatar"
            class="h-8 w-8 rounded-full mr-2"
          />
          <div *ngIf="!user.image" class="h-8 w-8 rounded-full bg-gray-300 mr-2 flex items-center justify-center">
            <span class="text-gray-600 font-medium">
              {{ user.firstName.charAt(0) }}{{ user.lastName.charAt(0) }}
            </span>
          </div>
          <span class="font-medium">{{ user.firstName }} {{ user.lastName }}</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-1" viewBox="0 0 20 20" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <div
          *ngIf="isDropdownOpen"
          class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-20"
        >
          <div class="py-1" role="menu" aria-orientation="vertical">
            <a
              routerLink="/profile"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              (click)="isDropdownOpen = false"
            >
              Perfil
            </a>
            <button
              (click)="logout()"
              class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
            >
              Cerrar sesion
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</header>